{% extends "base.html" %}

{% load static %}

{% block content %}


<div class="container">
    <h1>All Posts</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam perferendis cupiditate veniam, facere ipsam praesentium. Maxime explicabo, magnam nobis temporibus repudiandae enim! Praesentium maiores, accusantium hic at soluta commodi quae.</p>
    <br>
</div>

<div id="posts">
    {% include 'posts.html' %}
</div>
<div>
    <a id="lazyLoadLink" href="javascript:void(0);" data-page="2">Load More Posts</a>
</div>

{% endblock content %}

{% block js %}
<script>
    $(document).ready(function(){
        $('#lazyLoadLink').on('click', function() {
        var link = $(this);
        var page = link.data('page');
        $.ajax({
          type: 'post',
          url: 'load_more_posts/',
          data: {
            'page': page,
            'csrfmiddlewaretoken': '{{csrf_token}}'
          },
          success: function(data) {
            // if there are still more pages to load,
            // add 1 to the "Load More Posts" link's page data attribute
            // else hide the link
            if (data.has_next) {
                link.data('page', page+1);
            } else {
              link.hide();
            }
            // append html to the posts div
            $('#posts').append(data.posts_html);
          },
          error: function(xhr, status, error) {
            // shit happens friends!
          }
        });
      });
    })
  </script>

{% endblock js %}




