<div class="row mb-2">
	{% for post in posts %}
	<div class="col-lg-8">
	  <div class="card flex-md-row mb-4 box-shadow h-md-250">
		<img class="card-img-left flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" style="width: 200px; height: 250px;" src="{{ post.thumbnail.url }}" data-holder-rendered="true">

		<div class="card-body d-flex flex-column align-items-start">
		  <strong class="d-inline-block mb-2 text-primary">World</strong>
		  <h3 class="mb-0">
			<a class="text-dark" href="{{ post.get_absolute_url }}">{{post.title}}</a>
		  </h3>
		  <div class="mb-1 text-muted">Nov 12</div>
		  <p class="card-text mb-auto">{{post.content|truncatewords:15}}</p>
		  <a href="{{ post.get_absolute_url }}">Continue reading</a>
		</div>
	  </div>
	</div>
	{% endfor %}
  </div>

