{% extends "base.html" %}

{% block content %}


<div class="container">
    <h1>All Posts</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam perferendis cupiditate veniam, facere ipsam praesentium. Maxime explicabo, magnam nobis temporibus repudiandae enim! Praesentium maiores, accusantium hic at soluta commodi quae.</p>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa excepturi inventore sed nobis? Enim exercitationem libero magni, perspiciatis deserunt porro illo nisi dolore cum? Itaque earum corrupti architecto at iure.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam modi unde excepturi voluptatem velit a accusantium accusamus, tempore officia nam. In ipsa quam laudantium voluptate quod possimus reiciendis, voluptas officiis.</p>
</div>

<div class="container">
	{% include 'posts.html' %}
</div>

<!-- loop pagination -->
<div class="container">
	{% include 'pagination.html' %}
</div>


{% endblock content %}

{% block js %}


<script type="text/javascript">
	function ajaxPagination() {
		$('#pagination ul.pagination a.page-link').each((index, el) => {
			$(el).click(function(e) {
				e.preventDefault()
				let page_url = $(el).attr('href')
				console.log(page_url)

				$.ajax({
					url: page_url,
					type: 'GET',
					success: function(data) {
						$('#posts').empty()
						$('#posts').append($(data).filter('#posts').html(data))

						$('#pagination').empty()
						$('#pagination').append($(data).find('#pagination').html(data))
					}
				})
			})
		})
	}  
	$(document).ready(function() {
		ajaxPagination()
	})

	$(document).ajaxStop(function() {
		ajaxPagination()
	})
</script>
{% endblock js %}



